*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: sans-serif;
}

header{
	width: 100%;
	height: 80px;
	background:  black;
	
}
.container-header{
	display: flex;
	top: 20px;
}

.logo-tittle{
	display: flex;
}
.logo-tittle img{
	margin-top: -10px;
	height: 80px;

}
#searchDiv {
	text-align: center;
}

.logo-tittle h4 {
	margin-top: 30px;
	margin-left: 10px;
	font-weight: 1000;
	color: #aeeee0;
}

.menu{
	position: absolute;
	right: 20px;
	top: 30px;
	
}
.menu  ul{
	display: flex;
}
.menu ul li{
	list-style:none;
}

.menu ul li a{
	text-decoration: none;
	padding: 10px 20px;
	color: #aeeee0;	
}
.nombres{
	margin-left: 20px;
	margin-top: 45px;
}
.nombres h1{
	font-size: 30px;
	color: #aeeee0;
}
.nombres p {

	font-size: 25px;
	
}
.descripcion{
	margin-left: 90px;
	margin-top: 45px;
	margin-right: 90px;
	display: inline-block;
	overflow: hidden;
	text-align: justify;
}
.descripcion h1{
	font-size: 27px;
	color: #aeeee0;
}
.descripcion p{
	font-size: 22px;
}
.imagenes{
	margin-top: 30px;
}
.button {
  background-color: #16c1f3;
  border: none;
  color: white;
  padding: 7px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 10px;
}
video:-webkit-full-page-media {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}
video {
    object-fit: contain;
}